.bigbox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container_1 {
	display: flex;
	flex-direction: row;
	margin: 30px;
}
.container_2 {
	display: flex;
	border-radius: 20px;
	margin: 20px;
	flex-direction: row;
	flex-wrap: wrap;
}

.cards {
  background-color: rgb(156, 156, 156);
	width: 290px;
	border: 1px solid black;
	border-radius: 10px 10px 0px 0px;
	margin: 10px;
}

.inputgroup {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 30px;
}
.inputgroup > h2 {
	margin: 0px;
	margin-bottom: 8px;
	text-align: center;
}
.minibox {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.minibox > h5 {
	margin: 0px;
	margin-bottom: 8px;
	font-size: larger;
}
.lol {
	display: flex;
	flex-direction: row;
}

input[type='file'] {
	max-width: 200px;
}
button {
	margin-top: 20px;
}

input[type='text'] {
	background-color: transparent;
	height: 20px;
	width: 285px;
	border: 1px solid black;
}
